#include "Common.xcconfig"
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_PREPROCESSOR_DEFINITIONS = TESTING=1
OTHER_SWIFT_FLAGS = -DTESTING
MTL_ENABLE_DEBUG_INFO = YES
DEBUG_INFORMATION_FORMAT = dwarf

// For frameworks that do not have a 'Testing' configuration, we search Release
// We re-declare the carthage dir path because you can't append to variables defined earlier in the xcconfig file
FRAMEWORK_SEARCH_PATHS = "$(CARTHAGE_DIR)/Build/iOS/" "$(BUILT_PRODUCTS_DIR)/../Release$(EFFECTIVE_PLATFORM_NAME)/"
